table {
			border-collapse: collapse;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #0a0909;
			text-align: left;
		}

		th, td {
			padding: 8px;
			border: 3px solid #180795;
			vertical-align: middle;
		}

		th {
			background-color: #15a30e;
		}

		img {
			max-width: 100px;
			height: auto;
			display: block;
			margin: 0 auto;
		}